.App {
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.personDiv1 {
  padding: 10px;
  font-size: small;
  background-color: crimson;
  margin: 10px;
}
.personDiv2 {
  padding: 10px;
  font-size: small;
  background-color: rgb(31, 178, 170);
  margin: 10px;
}
.chartjs {
  flex-direction: column;
  width: 360px;
  position: relative;
  align-items: center;
  background-color: rgba(247, 247, 247, 0.16);
}
.samlple {
  background-color: rgba(191, 30, 145, 0.557);
}
.row{
  display: flex;
  flex-direction: column;
  
}
